{% extends "_base.html" %}
{% block head_content %}
<link href="{{ url_for('static', filename='css/contact.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<h1 class="form-contact form-contact-heading">Contact Us!</h1>
{% if success %}
  <p><h3>Thank you for your message. We'll get back to you soon!!</h3></p>
{% else %}
  <form method="POST" action="{{ url_for('contact.contact') }}" class="form-contact" role="form">
    {{ form.csrf_token }}
    {% for error in form.name.errors %}
    <div class="alert alert-danger" role="alert">
      <strong>Error!</strong> Your Name: {{error}}
    </div>
    {% endfor %}
    {% for error in form.email.errors %}
    <div class="alert alert-danger" role="alert">
      <strong>Error!</strong> Email Address: {{error}}
    </div>
    {% endfor %} 
    {{ form.name(placeholder="Your Name", class="form-control form-usrname") }}
    {{ form.company(placeholder="Company Name", class="form-control form-middle-blank") }}
    {{ form.email(placeholder="Email Address", class="form-control form-middle-blank") }}
    {{ form.subject(placeholder="Subject", class="form-control form-middle-blank") }}
    {{ form.message(class="form-control form-message") }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
{% endif %}
{% endblock %}
