{% extends "_base.html" %}

{% block head_content %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
<style>
  #twitter-widget-0 {height:670px !important;}
</style>
{% endblock %}

{% block content %}


<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class></li>
    <li data-target="#myCarousel" data-slide-to="2" class></li>
    <li data-target="#myCarousel" data-slide-to="3" class></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{{ url_for('static', filename='img/home/Lake.jpg') }}" alt="Lake">
    </div>
    <div class="item">
      <img src="{{ url_for('static', filename='img/home/Mountain-Range.jpg') }}" alt="Mountain-Range">
    </div>
    <div class="item">
      <img src="{{ url_for('static', filename='img/home/Mt-Fuji.jpg') }}" alt="Mt-Fuji">
    </div>
    <div class="item">
      <img src="{{ url_for('static', filename='img/home/Pink-Forest.jpg') }}" alt="Pink-Forest" > 
    </div>
  </div>
</div>
<div class="marketing">
  <div class="row" style="margin-left:10px; margin-right: 10px;">
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-6">
          <img class="img-circle" src="{{ url_for('static', filename='img/home/galaxy_140.jpg') }}" alt="temp" width="140" height="140">
          <h2>Galaxy</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-lg-6">
          <img class="img-circle" src="{{ url_for('static', filename='img/home/ntu_cake_140.jpg') }}" alt="temp" width="140" height="140  ">
          <h2>NTU</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <img class="img-circle" src="{{ url_for('static', filename='img/home/tree_140.jpg') }}" alt="temp" width="140" height="140">
          <h2>Tree</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-lg-6">
          <img class="img-circle" src="{{ url_for('static', filename='img/home/park_140.jpg') }}" alt="temp" width="140" height="140  ">
          <h2>Park</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      </div>
    </div>
  <div class="col-lg-3">
    <a class="twitter-timeline" href="https://twitter.com/dev_nansa" 
       data-widget-id="707561651705225216"
       data-chrome="nofooter noborders noscrollbar"
       >@dev_nansa 發送的推文</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
  <hr class="featurette-divider">
<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='img/home/23.jpg') }}" alt="temp" width="500" height="500">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='img/home/26.jpg') }}" alt="temp" width="500" height="500">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='img/home/58.jpg') }}" alt="temp" width="500" height="500">
    </div>
  </div>
</div>
{% endblock%}
{% block js %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}
